* {
  box-sizing: border-box;
  margin: 0px;
}

.hidden {
  display: none;
}

html,
body {
  /*background-image: url("images/twitter-background.png");*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", sans-serif;
  height: 100%;
}

.full-height {
  height: 100%;
}

body {
  margin-top: 0px;
  padding-top: 0px;
}

.thumbnail {
  height: 100px;
  width: 100px;
  margin: 10px auto;
}

ul.trends {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.trends li {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

ul.articles {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.articles li {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  border: 1px solid #ccc;
  background-color: #2eaced;
  padding: 10px;
  border-radius: 8px;
}

.articles li p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

h2 {
  text-align: center;
}

.startPage {
  text-align: center;
  background-image: url(images/twitter-background.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  margin-top: 0px;
}

.restart {
  text-align: center;
}

button {
  border-radius: 8px;
  font-size: 28px;
  padding: 20px 60px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.js-startButton {
  color: #2eaced;
}

.js-restart {
  text-align: center;
  margin: 10px auto;
  background-color: #2eaced;
  color: white;
}
